{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": [
    "airbnb"
  ],
  "rules":{
    "linebreak-style": 0,
    "jsx-a11y/href-no-hash": 0,
    "import/extensions": 0,
    "no-console": 0
  }
}
