html, body {
    background: url(shattered-island.gif);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    align-items: center;
    justify-content: center;
    background: grey;
    border-radius: 10px;
    width: 480px;
    height: 320px;
}

.app-form h2 {
    text-align: center;
    padding: 20px;
}

form input {
    margin-top: 10px;
    margin-bottom: 10px;
}

form input[type="button"] {
    width: 90%;
}

.app-form .button-right {
    float: right;
}

.app-form table {
    width: 100%;
}

.app-form table td {
    width: 50%;
}

.app-form .menu-button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.error {
    border: 1px solid red;
}