@font-face {
    font-family: my; /* Имя шрифта */
    src: url(../fonts/grb.ttf); /* Путь к файлу со шрифтом */
}

html, body {
    background: url(../sprites/BG.png);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: my;
}

#block {
    width: 480px;
    position: absolute;
    top: 160px;
}

.title {
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align:  center;
    color: rgb(152, 98, 47);
    font-size: 96px;
}

.form {
    padding: 40px;
}

.form__input {
    border: none;
    border-bottom: 2px solid #D99527;
    font-size: 24px;
    background: inherit;
    height: 48px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form__actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.form__button {
    width: 40%;
    text-align: center;
    background-color: #fff;
    color: #808080;
    padding: 5px 0;
    font-size: 18px;
    border-radius: 8px;
    border: 2px double #808080;
}

.form__button_send {
    margin-left: 32%;
}

.form__button:hover {
    color: #000;
}

.form__error-message {
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
}

.header__text {
    font-size: 20px;
    display: inline;
    height: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.menu__header {
    text-align: center;
    padding: 20px;
}

.menu__relativeBlock {
    position: relative;
    width: 60%;
    margin-bottom: 20px;
}

.menu__relativeBlock:last-child {
    margin-bottom: 0;
}

.menu__button {
    text-align: center;
    background-color: rgb(202, 139, 53);
    color: rgb(152, 98, 47);
    padding: 5px 0;
    font-size: 24px;
    border-radius: 6px;
    border: 3px groove #dd9430;
}

.menu__button:hover {
    background-color: rgba(202, 139, 53, .6);
    border-color: #d6820e;
}

.menu__img {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 8px;
}

.menu__img_drill {
    background: url('../sprites/drill.png') 50% 50% no-repeat;
    background-size: 30px auto;
    top: 12px;
}

.menu__img_drill-multi1 {
    background: url('../sprites/drill.png') 50% 50% no-repeat;
    background-size: 30px auto;
    transform: rotate(-12deg);
    top: 12px;
    right: 36px;
}

.menu__img_drill-multi2 {
    background: url('../sprites/drill.png') 50% 50% no-repeat;
    background-size: 30px auto;
    transform: scale(-1, 1) rotate(-12deg);
    top: 12px;
    right: 8px;
}

.menu__img_profile {
    background: url('../sprites/profile.png') 50% 50% no-repeat;
    background-size: 30px auto;
    top: 10px;
}

.menu__img_rating {
    background: url('../sprites/rating.png') 50% 50% no-repeat;
    background-size: 30px auto;
    top: 10px;
}

.menu__img_signin {
    background: url('../sprites/signin.png') 50% 50% no-repeat;
    background-size: 30px auto;
    top: 10px;
}

.menu__img_signup {
    background: url('../sprites/signup.png') 50% 50% no-repeat;
    background-size: 30px auto;
    top: 10px;
}

.menu__img_logout {
    background: url('../sprites/exit.png') 50% 50% no-repeat;
    background-size: 30px auto;
    top: 10px;
}

.menu__img_anonymous {
    background: url('../sprites/anonymous.png') 50% 50% no-repeat;
    background-size: 30px auto;
    top: 10px;
}

.error {
    border: 1px solid red;
}

.scoreboard {
    height: 240px;
    overflow: auto;
}

.scoreboard-table {
    padding: 10px;
    width: 100%;
}

.scoreboard-table th {
    width: 40%;
}

.profile {
    font-size: 20px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.shop {
    position: fixed;
    z-index: 100;
    margin: auto;
    top: 25%;
    right: 0;
    left: 0;
    padding: 50px;
    display: flex;
    background-color: rgba(217, 217, 217, 0.8);
    justify-content: space-between;
    flex-wrap: wrap;
    width: 700px;
}

.shop__upgrade-text {
    color: #6d6759;
    margin-bottom: 10px;
    text-align: center;
}

.shop__drill {
    display: inline-block;
    width: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.shop__drill-img {
    background: url('../img/drill.jpg') 50% 50% no-repeat;
    background-size: 128px auto;
    width: 128px;
    height: 128px;
}

.shop__battery {
    display: inline-block;
    width: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.shop__battery-img {
    background: url('../img/battery.jpg') 50% 50% no-repeat;
    background-size: 128px auto;
    width: 128px;
    height: 128px;
}

.shop__radar {
    display: inline-block;
    width: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.shop__radar-img {
    background: url('../img/radar.jpg') 50% 50% no-repeat;
    background-size: 128px auto;
    width: 128px;
    height: 128px;
}

.action {
    border: 1px solid #654321;
    cursor: pointer;
    display: inline-block;
    outline: none;
    text-decoration: none;
    transition: .2s background-color ease-in-out;
    background-color: #ffc966;
    color: #777d8c;
    box-shadow: 0 0 1px #bfbfbf;
    border-radius: 4px;
    height: 24px;
    line-height: normal;
    padding: 5px 10px 3px 10px;
    margin: auto;
}

.action:hover {
    border-color: #c07c00;
    color: #BF841A;
}
