html, body {
    background: url(../sprites/BG.png);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#block {
    width: 480px;
    position: absolute;
    top: 160px;
}

.title {
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align:  center;
    color: rgb(152, 98, 47);
    font-size: 96px;
}

.button {
    background-color: rgb(202, 139, 53);
    color: rgb(152, 98, 47);
    font-size: 24px;
}

.form {
    padding: 40px;
}

.form__input {
    border: none;
    border-bottom: 2px solid #D99527;
    font-size: 32px;
    background: inherit;
    height: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form__button {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 50%;
}

.form__error-message {
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
}

.header__text {
    font-size: 20px;
    display: inline;
    height: 100%;
}

.menu {
    margin: 0 auto;
    width: 80%;
}

.menu__header {
    text-align: center;
    padding: 20px;
}

.menu__button {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    width: 80%;
}

.error {
    border: 1px solid red;
}

.scoreboard-table {
    padding: 10px;
    width: 100%;
}

.scoreboard-table th {
    width: 40%;
}

.profile {
    font-size: 20px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}