table.app-scoreboard-table
    thead
        tr
            th Email
            th Username
            th Scores

    tbody
        each user in users
            tr
                th #{user.email}
                th #{user.username}
                th #{user.score}